<div class="pos-f-t d-flex justify-content-center">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-success p-4 rounded">
        <h5 class="text-white h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar navbar-dark" style="background-color: #BCD9AE; border-radius: 20px; width: 80%;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand mx-auto" href="#">
        <!-- Utilisation du chemin fourni -->
        <img src="./assets/img/logoo.png" alt="Logo" width="100" height="auto">
      </a>
      <div class="ml-md-auto">
        <a href="/panier">
          <!-- Utilisation du chemin fourni -->
          <img  src="./assets/img/traced-images.png" alt="Panier" width="30" height="auto">
        </a>
      </div>

    </nav>
  </div>
  
  
  
  

    
