<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
  <!-- Ajoutez les liens vers les bibliothèques Bootstrap et jQuery ici -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lekton:wght@400;700&display=swap');
  </style>
</head>
<body>
  <div class="pos-f-t d-flex justify-content-center">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-success p-4 rounded">
        <h5 class="text-white h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar navbar-dark" style="background-color: #BCD9AE; border-radius: 20px; width: 50%;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-text mx-auto" style="font-family: 'Lekton', sans-serif; color: black;">
        <a href="/rgpd"> 
          Politique de confidentialité 
        </a>
      </div> <!-- Centrage horizontal du texte -->
    </nav>
  </div>
  <!-- Ajoutez les scripts JavaScript pour Bootstrap et jQuery ici -->
</body>
