<div class="card" style="width: 50%; margin: 0 auto;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"> 
            <h2 style="font-family: 'Lekton'; text-align: center; font-weight: bold">Politique de confidentialité</h2>
            <h4 style="font-family: 'Lekton'; text-align: justify;">
                <strong>Introduction</strong> <br><br>
                Chez Sushis Fast, nous accordons une grande importance à la protection de vos informations personnelles. Cette politique de confidentialité explique comment nous recueillons, utilisons et protégeons vos données lorsque vous utilisez notre boutique en ligne.
                <br><br>
                <strong>  d'informations personnelles</strong>
                <br><br>
                Lorsque vous utilisez notre boutique en ligne, nous pouvons collecter les informations suivantes :
                <br><br>
                - Informations de paiement, telles que les détails de votre carte de crédit ou de débit.
                <br>- Informations démographiques telles que votre âge, sexe, profession et préférences.
                <br>- Informations sur votre commande, y compris les produits achetés et les détails de livraison.
                <br><br>
                Nous recueillons ces informations dans le but de traiter vos commandes, vous fournir un service client efficace et améliorer votre expérience d'achat.
                <br><br>
                <strong> Utilisation des informations personnelles </strong>
                <br><br>
                Nous utilisons vos informations personnelles pour les finalités suivantes :
                <br><br>
                - Traitement de vos commandes et paiements.
                <br>- Livraison de vos produits à l'adresse indiquée.
                <br>- Réponse à vos demandes de service client.
                <br>- Personnalisation de votre expérience d'achat.
                - Envoi d'e-mails promotionnels et d'offres spéciales, si vous avez donné votre consentement.
                <br><br>
            <strong>  des informations personnelles</strong>
                <br><br>
                Nous mettons en place des mesures de sécurité appropriées pour protéger vos informations personnelles contre tout accès non autorisé, altération, divulgation ou destruction.
                <br><br>
               <strong>  Partage des informations personnelles</strong>
                <br><br>
                Nous ne vendons, n'échangeons ni ne louons vos informations personnelles à des tiers. Cependant, nous pouvons partager vos informations avec des prestataires de services tiers qui nous aident à exploiter notre boutique en ligne, à condition qu'ils acceptent de garder vos informations confidentielles.
                <br><br>
                <strong> Cookies</strong> 
                <br><br>
                Notre site web utilise des cookies pour améliorer votre expérience d'achat. Vous pouvez configurer votre navigateur pour refuser tous les cookies ou pour vous alerter lorsque des cookies sont envoyés.
                <br><br>
                <strong> Accès et contrôle de vos informations personnelles</strong>
                <br><br>
                Vous avez le droit d'accéder, de corriger et de supprimer vos informations personnelles. Vous pouvez également vous désabonner de nos communications marketing à tout moment.
                <br><br>
                <strong>Modifications de la politique de confidentialité </strong>
                <br><br>
                Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications prendront effet dès leur publication sur notre site web.
                <br><br>
                <br><br>
                <br><br>
                <strong> Dernière mise à jour : 11/03/2023</strong> 
            </h4> 
        </li>
    </ul>
</div>
